{% extends 'layout.twig' %}

{% block navbar %}
  {% include 'navbar.twig' %}
{% endblock %}

{% block content %}

{% if mailTerkirim is not empty %}
  {% include 'modal-email.twig' %}
{% endif %}

<section id="{{ menuNav.nav[0].id }}">
  <div class="h-screen">
    <div class="flex flex-col items-center justify-center h-1/2 bg-center bg-cover bg-no-repeat m-auto" style="background-image: url({{ jumbotron.bgimg }});">
      <h1 class="text-white text-center text-3xl md:text-6xl font-bold uppercase">{{ jumbotron.head[0].text }}</h1>
      <h2 class="text-white text-center text-xl md:text-2xl tracking-widest font-light uppercase">{{ jumbotron.head[1].text }}</h2>
        <div class="absolute top-60 sm:top-60 md:top-80 lg:top-1/3 float-center md:float-left">
          <img class="h-36 md:h-44 lg:h-64 w-36 md:w-44 lg:w-64 rounded-full" src="{{ profile.img }}" alt="">
        </div>
    </div>
    <div class="w-10/12 h-full m-auto text-center py-36 lg:py-44">
      <p class="font-light text-black text-lg md:text-2xl">{{ profile.desc }}</p>
    </div>
  </div>
  <div class="grid lg:grid-cols-2 h-auto w-11/12 m-auto py-16 gap-x-12 gap-y-8">
    <div class="box-content h-auto w-full bg-blue-300 rounded-md">
      <h1 class="text-center text-lg text-black font-bold py-1 bg-blue-500 rounded-t-md">{{ profile.menu[0].title }}</h1>
      <div class="py-8">
        {% for sv2 in skill.v2 %}
          <div class="py-2">
            <h1 class="pl-4 sm:pl-6 md:pl-6 text-lg text-black font-semibold">{{ sv2.lan }}</h1>
            <div class="w-11/12 h-9 m-auto border-2 border-black rounded-md">
              <div class="bg-white rounded-md">
                <div class="h-8 rounded" style="width: {{ sv2.bar }}; background-color: {{ sv2.color }};">
                  <p class="text-lg text-black text-right pr-2">{{ sv2.bar }}</p>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="box-content h-auto w-full bg-blue-300 rounded-md">
      <h1 class="text-center text-black text-lg font-bold py-1 bg-blue-500 rounded-t-md">{{ profile.menu[1].title }}</h1>
        <div class="py-6">
          {% for edu in education %}
            <h1 class="pl-4 sm:pl-6 md:pl-6 py-2 text-lg text-black font-semibold">{{ edu.year }}</h1>
            <div class="w-11/12 h-auto m-auto border-2 border-black rounded-md">
              <p class="p-2 text-black text-base md:text-lg text-medium">{{ edu.school }}</p>
            </div>
          {% endfor %}
      </div>
    </div>
  </div>
</section>

<section id="{{ menuNav.nav[1].id }}">
<div class="flex flex-col items-center bg-gray-200 h-full">
  <h1 class="text-2xl md:text-4xl text-center text-black font-bold pt-16 md:pt-20">{{ section[1].title }}</h1>
    <div class="grid md:grid-cols-2 w-11/12 py-12 gap-x-4 lg:gap-x-8 gap-y-8 items-center justify-between">
      {% for key, port in portfolio %}
        <a href="portfolio.php?id={{ key }}">
          <div class="group box-content h-auto p-4 w-10/12 bg-gray-400 hover:bg-gray-500 bg-opacity-50 m-auto rounded-md md:rounded-xl cursor-pointer transform lg:hover:-translate-y-1 transition duration-300 shadow-lg hover:shadow-none">
            <div class="bg-black m-auto">
              <img class="h-auto w-full m-auto opacity-40 group-hover:opacity-100 transition duration-500" src="img/{{ port.preview }}" alt="">
            </div>
            <h1 class="text-center text-black text-xl font-bold p-4">{{ port.name }}</h1>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}

{% block contact %}
  {% include 'form-email.twig' %}
{% endblock %}